.nav{
  width:100%;
    padding: 10px;
    background-color: black;
    color: white;
    display: flex;
}
.item{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap:40px;
  margin-left: 60%;

}
.item:hover{
  text-decoration: underline;
}
.search-container {
    
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .search {
    padding: 10px;
    border: solid black 1px;
    width: 700px;
  }
  .Products{
    display: flex;
    margin-left: 30%;
    
    width: 100%;
    max-width: 40%;
    align-items: center;
    justify-content: space-between;
    
  }
  .Products img{
    width:175px;
    height:225px;
    gap:0px;
    display: flex;
  }
  .Products p{
    padding:10px;
  }
  .box{
    border:solid black 1px;
    gap: 0px;
  
  }
  .Ab{
    text-align: center;
  }
  .About{
    margin-top: 10px;
    text-align: center;
  }
  .contact p{
    margin-top: 5px;
  }
  .copy p{
    font-size: small;
    padding: 20px;
    color:grey;
  }
  
